 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
 *{
    margin:0;
    font-family: font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
 }

 body{
    background-color: cornflowerblue;
 }
 .note{
    background-color: whitesmoke;
    margin: 10px;
    width: 30%;
    height: 400px;
 }
 .header{
    background-color: black;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
 }
 i{
    margin: 2px;
 }

 .note textarea{
    margin:10px;
    outline: none;
    height: 90%;
    width: 100%;
    resize: none;
 }